<!DOCTYPE html>
<html>
<head>
  <title>Versus</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//use.edgefonts.net/merienda-one.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% noheader_path = ["/", "/v", "/v/", "/v/index"] %>
<% if !noheader_path.include? request.original_fullpath %>
    <%= render :partial => 'layouts/global_navbar' %>
<% end %>

<div class="container">
    <div class="inner-container">
        <%= yield %>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
